<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments :: head('Unidade')}" ></head>
<body>
  <div align="center" class="container-fluid"><nav th:replace="~{fragments :: navbar}"></nav></div>
  <div class="container-fluid pt-2 d-flex justify-content-center" >
    <div class="col-6">

        <form th:action="@{/unidades/destroy/unidade}" class="" method="POST" >
            <input type="hidden" name="id" th:value="${unidade.id}">
            
            <div class="card">
                <div class="card-header">
                    Remoção de Unidade
                </div>
                <div class="card-body">
                    <h6> Confirma a remover <span th:text="${unidade.descricao}"></span> ?</h6>
                </div>
                <div class="card-footer">
                    <button class="btn btn-danger" type="submit">Remover</button>
                    <a class="btn  btn-secondary" th:href="@{/unidades}">Voltar</a>
                </div>
            </div>
            
        </form>
    </div>
</div>  
  <div th:replace="~{fragments :: scripts}"></div>
</body>
</html>

