<!DOCTYPE html>
<html lang="en">
    <head th:replace="~{fragments :: head('Login')}" >
        <style>
            body, html {
                height: 100%;
                margin: 0;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .login-container {
                max-width: 400px;
                padding: 20px;
                border: 1px solid #ccc;
                border-radius: 10px;
                background-color: #f9f9f9;
            }
        </style>
    </head>

<body  class="d-flex justify-content-center align-items-center vh-100">

<div class="login-container">


    <div class="text-center mb-3">
        <img src="/img/shop-window.svg" width="32" height="32" alt="Financeiro" >
    </div>
    <div class="card card-outline card-primary">
        <div class="card-header">
            <h6 class="text-center my-1">Login</h6>
        </div>

        <div class="card-body">
            <!-- <form method="post" th:action="@{/login}">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="username" name="username" placeholder="name@example.com">
                    <label for="username">E-mail</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                    <label for="password">Senha</label>
                </div>
                <div class="d-grid gap-1">
                    <button type="submit" class="btn btn-primary">Entrar</button>
                </div>
            </form> -->

            <form method="post" th:action="@{/login}">
                
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="username" id="username" placeholder="E-mail">
                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                </div>
                
                <div class="input-group mb-3">
                    <input type="password" class="form-control" name="password" id="password" placeholder="Senha">
                    <span class="input-group-text" ><i class="fas fa-lock "></i></span>
                </div>

                <div class="d-grid gap-1">
                    <button type="submit" class="btn btn-primary">Entrar</button>
                </div>
            </form>
        </div>

        <div class="card-footer text-center bg-white">
            <div class="d-flex">
                <p class="my-0 me-auto">
                    <a href="#">Esqueci a senha</a>
                </p>
                <p class="my-0 ">
                    <a th:href="@{/register}">Registrar</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments :: scripts}"></div>

</body>
</html>
