<!DOCTYPE html>
<html lang="en">
    <head th:replace="~{fragments :: head('Login')}" >
        <style>
            body, html {
                height: 100%;
                margin: 0;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .login-container {
                max-width: 400px;
                padding: 20px;
                border: 1px solid #ccc;
                border-radius: 10px;
                background-color: #f9f9f9;
            }
        </style>
    </head>

<body  class="d-flex justify-content-center align-items-center vh-100">

<div class="login-container">


    <div class="text-center mb-3">
        <img src="/img/shop-window.svg" width="32" height="32" alt="Financeiro" >
    </div>
    <div class="card card-outline card-primary">
        <div class="card-header">
            <h6 class="text-center my-1">Registro</h6>
        </div>

        <div class="card-body">

            <form method="post" th:action="@{/register}">
                
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="name" id="name" placeholder="Nome" required/>
                    <span class="input-group-text"><i class="fa-solid fa-address-card"></i></span>
                
                </div>

                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="email" id="email" placeholder="E-mail" required/>
                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                </div>
                
                <div class="input-group mb-3">
                    <input type="password" class="form-control" name="password" id="password" placeholder="Senha" required>
                    <span class="input-group-text" ><i class="fas fa-lock "></i></span>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Registrar</button>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="d-grid">
                            <a class="btn btn-secondary" th:href="@{/login}">Login</a>
                        </div>
                    </div>
                    
                </div>
            </form>
        </div>

        
    </div>
</div>
<div th:replace="~{fragments :: scripts}"></div>

</body>
</html>
