.acoes {
    width: 5.7rem;
}
.col-pk {
    width: 7%;
}

.col-cpfcnpj {
    width: 7.5%;
}

.col-default {
    width: 10%;
}

.col-w-10 {
    width: 10%;
}

.col-w-15 {
    width: 15%;
}

.col-w-20 {
    width: 20%;
}

.col-w-25 {
    width: 25%;
}

.col-w-30 {
    width: 30%;
}

.col-w-35 {
    width: 35%;
}

.col-w-40 {
    width: 40%;
}


.card-primary.card-outline {
    border-top: 3px solid #007bff;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}