<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments :: head('Estado')}" ></head>
<body>
  <div align="center" class="container-fluid"><nav th:replace="~{fragments :: navbar}"></nav></div>
  <div class="container-fluid pt-2 d-flex justify-content-center">
    <div class="col-12">

        <form th:action="@{/estados/create}" th:object="${obj}" class="" method="post" enctype="multipart/form-data">

            <div class="card">
                
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div>
                        <button class="btn btn-primary" type="submit">Gravar</button>
                        <a class="btn btn-secondary" th:href="@{/estados}">Voltar</a>
                    </div>
                    <caption>Cadastro de Estado</caption>
                </div>

                <div class="card-body">
                    <div class="row g-3">
                        <div class="col-12 col-md-2">
                            <label for="cod_ibge">Cód. IBGE</label>
                            <input 
                            th:field="*{codigo}" autofocus
                            class="form-control" type="text">
                            <span class="text-danger" th:if="${#fields.hasErrors('codigo')}" th:errors="*{codigo}" ></span>
                        </div>

                        <div class="col-12 col-md-1">
                            <label for="uf">UF</label>
                            <input 
                            th:field="*{uf}"
                            class="form-control" type="text">
                            <span class="text-danger" th:if="${#fields.hasErrors('uf')}" th:errors="*{uf}" ></span>
                        </div>

                        <div class="col-12 col-md-6">
                            <label for="descricao">Descriição</label>
                            <input 
                            th:field="*{descricao}"
                            class="form-control" type="text">
                            <span class="text-danger" th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}" ></span>
                        </div>

                        <div class="col-12 col-md-3">
                            <label for="pais">Pais</label>
                            <select 
                                class="form-select"
                                th:field="*{pais}" >
                                <option th:each="p : ${listPais}" th:value="${p.id}" th:text="${p.descricao}" ></option>
                            </select>
                            <span class="text-danger" th:if="${#fields.hasErrors('pais')}" th:errors="*{pais}" ></span>
                        </div>                        
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>  
  <div th:replace="~{fragments :: scripts}"></div>
</body>
</html>
