<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments :: head('Produto')}" ></head>
<body>
  <div align="center" class="container-fluid"><nav th:replace="~{fragments :: navbar}"></nav></div>
   
  <div class="container-fluid pt-2 d-flex justify-content-center">
    <div class="col-12">

        <form th:action="@{/produtos/create}" th:object="${obj}" class="" method="post" enctype="multipart/form-data">
            <div class="card">

                <div class="card-header d-flex justify-content-between align-items-center">
                    <div>
                        <button class="btn btn-success" type="submit"><i class="fa fa-save"></i> Gravar</button>
                        <a class="btn btn-secondary" th:href="@{/produtos}"><i class="fa fa-undo"></i> Voltar</a>
                    </div>
                    <caption>Cadastro de Produto</caption>
                </div>

                <div class="card-body">

                    <div class="row g-2 mb-3">

                    
                        <div class="col-12 col-md-1">
                            <div class="row g-2 mb-3">
                                <div class="col-12 border p-1 d-flex flex-column" style="min-height: 140px;">
                                    <img id="preview" class="mb-1 align-items-start text-center"  alt="Foto"
                                        style="max-width: 100%; max-height: 100%; min-width: 120px; min-height: 140px;"/>
                                    <input type="file" class="form-control align-items-end" id="image" name="image" accept="image/*">
                                </div>
                            </div>

                        </div>

                        <div class="col-12 col-md-11">
                            <div class="row g-2 mb-3">
                        
        
                                <div class="col-12 col-md-2">
                                    <label for="gtin">GTIN</label>
                                    <input 
                                    maxlength="14"
                                    th:field="*{gtin}"
                                    class="form-control " type="text">
                                    <span class="text-danger" th:if="${#fields.hasErrors('gtin')}" th:errors="*{gtin}" ></span>
                                </div>
        
                                <div class="col-12 col-md-10">
                                    <label for="descricao">Descrição</label>
                                    <input 
                                    maxlength="60"
                                    th:field="*{descricao}"
                                    class="form-control " type="text">
                                    <span class="text-danger" th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}" ></span>
                                </div>
                            
                            </div>

                            <div class="row g-2 mb-3">

                                <div class="col-12 col-md-3">
                                    <label for="unidade">Unidade</label>
        
                                    <select 
        
                                        class="form-select"
                                        th:field="*{unidade}" >
                                        <option th:each="p : ${listUnidades}" th:value="${p.id}" th:text="${p.codigo}"></option>
        
                                    </select>
                                    <span class="text-danger" th:if="${#fields.hasErrors('unidade')}" th:errors="*{unidade}" ></span>
                                </div>
        
                                <div class="col-12 col-md-3">
                                    <label for="categoria">Categoria</label>
                                    <select 
                                        class="form-select"
                                        th:field="*{categoria}" >
                                        <option th:each="p : ${listCategorias}" th:value="${p.id}" th:text="${p.descricao}" ></option>
                                    </select>
                                    <span class="text-danger" th:if="${#fields.hasErrors('categoria')}" th:errors="*{categoria}" ></span>
                                </div>
        
        
                                <div class="col-12 col-md-3">
                                    <label for="preco">Preço</label>
                                    <input 
                                    th:field="*{preco}"
                                    class="form-control preco" type="text">
                                    <span class="text-danger" th:if="${#fields.hasErrors('preco')}" th:errors="*{preco}" ></span>
                                </div>
        
                                <div class="col-12 col-md-3">
                                    <label for="estoque">Estoque</label>
                                    <input 
                                    th:type="text"
                                    th:field="*{estoque}"
                                    class="form-control inteiro" >
                                    <span class="text-danger" th:if="${#fields.hasErrors('estoque')}" th:errors="*{estoque}" ></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </form>
    </div>
</div>
  
  <div th:replace="~{fragments :: scripts}"></div>
  <script src="/js/produto.js"></script>
</body>
</html>
