<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments :: head('Contato')}" ></head>
<body>
  <div align="center" class="container-fluid"><nav th:replace="~{fragments :: navbar}"></nav></div>
  <div class="container-fluid">
    <a th:href="@{/contatos/create}" class="btn btn-primary">Novo Contato</a>

    <hr class="mt-0 border border-black">
    <table class="table table-sm table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Nome Fantasia</th>
                <th>Documento</th>
                <th class="text-center acoes">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="m, iterStat : ${list}" >
                <td th:text="${m.id}"></td>
                <td th:text="${m.nome}"></td>
                <td th:text="${m.nomeFantasia}"></td>
                <td th:text="${m.documento}"></td>
                <td class="text-center">
                    <a class="btn btn-sm btn-secondary" th:href="@{/contatos/update/{id}(id=${m.id})}">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a class="btn btn-sm btn-danger" th:href="@{/contatos/destroy/{id}(id=${m.id})}" >
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>

        </tbody>
    </table>
    <nav th:if="${list.totalPages>1}"  aria-label="...">

        <ul th:if="${list.totalPages>1}" class="pagination">
            <li class="page-item" th:class="${list.first} ? 'disabled' : ''">
                <a class="page-link" th:href="@{'/contatos?page=0'}">Primeira</a>
            </li>
            
            <li class="page-item" th:class="${list.first} ? 'disabled' : ''">
                <a class="page-link" th:href="@{'/contatos?page=' + ${list.number - 1}}">Anterior</a>
            </li>
            <li class="page-item" th:class="${list.last} ? 'disabled' : ''">
                <a class="page-link" th:href="@{'/contatos?page=' + ${list.number + 1}}">Próximo</a>
            </li>
            
            <li class="page-item" th:class="${list.last} ? 'disabled' : ''">
                <a class="page-link" th:href="@{'/contatos?page=' + ${list.totalPages-1}}">Última</a>
            </li>
        </ul>
    </nav>
  </div>
  
   <div th:replace="~{fragments :: scripts}"></div>
</body>
</html>
